In [1]:
import requests
import pandas as pd
import time
from datetime import date, datetime, timedelta

In [2]:
forest_data = pd.read_csv(r'')

In [3]:
forest_data.head()

,Unnamed: 0,area_type_cd,site_type_cd,moisture_cd,degradation_cd,soil_subtype_cd,plant_comm_cd,stand_struct_cd,sub_area,veg_cover_cd,forest_id,avg_lat,avg_lon,tree_species,area
0,0,D-STAN,BŚW,Ś,N2,RDw,NaN,DRZEW,9.20,MSZC,101025863,53.811817,23.275983,SO,9.20
1,1,D-STAN,OLJ,ŁZ,N2,Mt,NaN,KDO,8.44,ZAD,101027565,53.793429,23.136016,OL,8.44
2,2,D-STAN,BŚW,Ś,N2,RDb,NaN,DRZEW,8.12,ZAD,101028430,53.710679,23.036625,SO,8.12
3,3,D-STAN,LMB,BO,N2,Mt,NaN,DRZEW,5.35,ZIEL,101008890,53.773599,23.273369,?W,5.35
4,4,D-STAN,BŚW,Ś,N2,RDb,NaN,DRZEW,14.12,ZAD,101009062,53.776887,23.304634,SO,14.12

In [4]:
forest_data.shape

(366609, 15)

In [5]:
forest_data = forest_data[forest_data.sub_area > 10]
forest_data.shape

(100430, 15)

In [6]:
forest_data.head()

,Unnamed: 0,area_type_cd,site_type_cd,moisture_cd,degradation_cd,soil_subtype_cd,plant_comm_cd,stand_struct_cd,sub_area,veg_cover_cd,forest_id,avg_lat,avg_lon,tree_species,area
4,4,D-STAN,BŚW,Ś,N2,RDb,NaN,DRZEW,14.12,ZAD,101009062,53.776887,23.304634,SO,14.12
10,10,D-STAN,BB,BM,N1,Tw,NaN,DRZEW,13.06,ZAD,101007586,53.807356,23.287168,SO,13.06
12,12,D-STAN,BŚW,SŚ,N2,RDb,NaN,DRZEW,13.86,MSZC,101002690,53.845842,23.191385,SO,13.86
13,13,D-STAN,OL,BM,N2,Tn,NaN,DRZEW,13.01,ZAD,101008034,53.802518,23.321325,BRZ,13.01
14,14,D-STAN,BŚW,Ś,N2,RDb,NaN,DRZEW,14.02,MSZC,101011496,53.787320,23.084254,SO,14.02

In [ ]:
weather_data = pd.DataFrame(columns=["date","forest_id","latitude","longitude","tree_species","soil_subtype_cd","max_temp","min_temp","precipitation","snowfall","humidity"])

y=0

for index, row in forest_data.iterrows():
    try:
        date_today = date.today()
        date = date_today - timedelta(days=31)
        date_1_day_ago = date - timedelta(days=1)
        date_14_days_ago = date - timedelta(days=14)

        forest_id = row["forest_id"]
        latitude = row["avg_lat"]
        longitude = row["avg_lon"]

        tree_species = row["tree_species"]
        soil_type = row["soil_subtype_cd"]
        
        request_string = f"""
        https://api.open-meteo.com/v1/forecast?latitude={latitude}
        &longitude={longitude}&hourly=relativehumidity_2m,
        soil_temperature_6cm,
        soil_moisture_3_9cm&daily=temperature_2m_max,
        temperature_2m_min,rain_sum,snowfall_sum&timezone=Europe%2FBerlin&start_date={date_14_days_ago}
        &end_date={date_1_day_ago}"""

        result = requests.get(request_string)
        weather = result.json()
        
        max_temp = weather["daily"]["temperature_2m_max"]
        min_temp = weather["daily"]["temperature_2m_min"]
        precipitation = weather["daily"]["rain_sum"]
        snowfall = weather["daily"]["snowfall_sum"]
        humidity = weather["hourly"]["relativehumidity_2m"]

        row = [date, forest_id, latitude, longitude, tree_species, soil_type, max_temp, min_temp, precipitation, snowfall, humidity]
        weather_data.loc[y] = row
        
        y=y+1
                
        if y%1000==0:
                print(f'{y} rows completed.')
                time.sleep(1)
    except:
        pass

1000 rows completed.
2000 rows completed.
3000 rows completed.
4000 rows completed.
5000 rows completed.
6000 rows completed.
7000 rows completed.
8000 rows completed.
9000 rows completed.
10000 rows completed.
11000 rows completed.
12000 rows completed.
13000 rows completed.
14000 rows completed.
15000 rows completed.
16000 rows completed.
17000 rows completed.
18000 rows completed.
19000 rows completed.
20000 rows completed.
21000 rows completed.
22000 rows completed.
23000 rows completed.
24000 rows completed.
25000 rows completed.
26000 rows completed.
27000 rows completed.
28000 rows completed.
29000 rows completed.
30000 rows completed.
31000 rows completed.
32000 rows completed.
33000 rows completed.
34000 rows completed.
35000 rows completed.
36000 rows completed.
37000 rows completed.
38000 rows completed.
39000 rows completed.
40000 rows completed.
41000 rows completed.
42000 rows completed.
43000 rows completed.
44000 rows completed.
45000 rows completed.
46000 rows completed.
47000 rows completed.
48000 rows completed.
49000 rows completed.
50000 rows completed.
51000 rows completed.
52000 rows completed.
53000 rows completed.
54000 rows completed.
55000 rows completed.
56000 rows completed.
57000 rows completed.
58000 rows completed.
59000 rows completed.
60000 rows completed.
61000 rows completed.
62000 rows completed.
63000 rows completed.
64000 rows completed.
65000 rows completed.
66000 rows completed.
67000 rows completed.
68000 rows completed.
69000 rows completed.
70000 rows completed.
71000 rows completed.
72000 rows completed.
73000 rows completed.
74000 rows completed.
75000 rows completed.
76000 rows completed.
77000 rows completed.
78000 rows completed.
79000 rows completed.
80000 rows completed.
81000 rows completed.
82000 rows completed.
83000 rows completed.
84000 rows completed.
85000 rows completed.
86000 rows completed.
87000 rows completed.
88000 rows completed.
89000 rows completed.
90000 rows completed.
91000 rows completed.
92000 rows completed.
93000 rows completed.
94000 rows completed.
95000 rows completed.
96000 rows completed.
97000 rows completed.
98000 rows completed.
99000 rows completed.
100000 rows completed.
101000 rows completed.
102000 rows completed.
103000 rows completed.
104000 rows completed.
105000 rows completed.
106000 rows completed.
107000 rows completed.
108000 rows completed.
109000 rows completed.
110000 rows completed.
111000 rows completed.
112000 rows completed.
113000 rows completed.
114000 rows completed.
115000 rows completed.
116000 rows completed.
117000 rows completed.
118000 rows completed.
119000 rows completed.
120000 rows completed.
121000 rows completed.
122000 rows completed.
123000 rows completed.
124000 rows completed.
125000 rows completed.
126000 rows completed.
127000 rows completed.
128000 rows completed.
129000 rows completed.
130000 rows completed.
131000 rows completed.
132000 rows completed.
133000 rows completed.
134000 rows completed.
135000 rows completed.
136000 rows completed.
137000 rows completed.
138000 rows completed.
139000 rows completed.
140000 rows completed.
141000 rows completed.
142000 rows completed.
143000 rows completed.
144000 rows completed.
145000 rows completed.
146000 rows completed.
147000 rows completed.
148000 rows completed.
149000 rows completed.
150000 rows completed.
151000 rows completed.
152000 rows completed.
153000 rows completed.
154000 rows completed.
155000 rows completed.
156000 rows completed.
157000 rows completed.
158000 rows completed.
159000 rows completed.
160000 rows completed.
161000 rows completed.
162000 rows completed.
163000 rows completed.
164000 rows completed.
165000 rows completed.
166000 rows completed.
167000 rows completed.
168000 rows completed.
169000 rows completed.
170000 rows completed.
171000 rows completed.
172000 rows completed.
173000 rows completed.
174000 rows completed.
175000 rows completed.
176000 rows completed.
177000 rows completed.
178000 rows completed.
179000 rows completed.
180000 rows completed.
181000 rows completed.
182000 rows completed.
183000 rows completed.
184000 rows completed.
185000 rows completed.
186000 rows completed.
187000 rows completed.
188000 rows completed.
189000 rows completed.
190000 rows completed.
191000 rows completed.
192000 rows completed.
193000 rows completed.
194000 rows completed.
195000 rows completed.
196000 rows completed.
197000 rows completed.
198000 rows completed.
199000 rows completed.
200000 rows completed.
201000 rows completed.
202000 rows completed.
203000 rows completed.
204000 rows completed.
205000 rows completed.
206000 rows completed.
207000 rows completed.
208000 rows completed.
209000 rows completed.
210000 rows completed.
211000 rows completed.
212000 rows completed.
213000 rows completed.
214000 rows completed.
215000 rows completed.
216000 rows completed.
217000 rows completed.
218000 rows completed.
219000 rows completed.
220000 rows completed.
221000 rows completed.
222000 rows completed.
223000 rows completed.
224000 rows completed.
225000 rows completed.
226000 rows completed.
227000 rows completed.
228000 rows completed.
229000 rows completed.
230000 rows completed.
231000 rows completed.
232000 rows completed.
233000 rows completed.
234000 rows completed.
235000 rows completed.
236000 rows completed.
237000 rows completed.
238000 rows completed.
239000 rows completed.
240000 rows completed.
241000 rows completed.
242000 rows completed.
243000 rows completed.
244000 rows completed.
245000 rows completed.
246000 rows completed.
247000 rows completed.
248000 rows completed.
249000 rows completed.
250000 rows completed.
251000 rows completed.
252000 rows completed.
253000 rows completed.
254000 rows completed.
255000 rows completed.
256000 rows completed.
257000 rows completed.
258000 rows completed.
259000 rows completed.
260000 rows completed.
261000 rows completed.
262000 rows completed.
263000 rows completed.
264000 rows completed.
265000 rows completed.
266000 rows completed.
267000 rows completed.
268000 rows completed.
269000 rows completed.
270000 rows completed.
271000 rows completed.
272000 rows completed.
273000 rows completed.
274000 rows completed.
275000 rows completed.
276000 rows completed.
277000 rows completed.
278000 rows completed.
279000 rows completed.
280000 rows completed.
281000 rows completed.
282000 rows completed.
283000 rows completed.
284000 rows completed.
285000 rows completed.
286000 rows completed.
287000 rows completed.
288000 rows completed.
289000 rows completed.
290000 rows completed.
291000 rows completed.

In [ ]:
weather_data.head()

In [ ]:
weather_data.shape

In [ ]:
weather_data.to_csv(r"C:\Users\julia\Desktop\Mushroom Project\data\geodata\compiled\weather_data.csv")